@charset "utf-8";
html,
body {
    display: flex;
    display: -ms-flexbox;
    margin: 0;
    padding: 0;
    width: 100%;
    min-width: 1903px;
    height: 100%;
    min-height: 100%;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
    flex: auto;
    flex-wrap: wrap;
    flex-direction: row;
    font-family: Moebius_Regular_kor, Moebius_Regular_eng, Moebius_Bold_kor, Moebius_Bold_eng, Moebius, '뫼비우스';
    font-size: 12px;
    color: #555;
}


/* body.centre {
    align-content: center;
    height: 100%
} */

#app,
#app>div {
    /* display: flex; */
    /* display: -ms-flexbox; */
    display: block;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 100%
}

.contents.center {
    justify-content: center;
}

header {
    display: flex;
    display: -ms-flexbox;
    justify-content: center;
    /* position: absolute; */
    margin-bottom: 37px;
    width: 100%;
    border-bottom: 1px solid #cdcdcd;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .12);
    box-sizing: border-box;
    _background: rgba(255, 138, 0, .1);
    background: #2D3847;
    z-index: 33
}

nav {
    display: flex;
    display: -ms-flexbox;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center
}

article,
section {
    display: flex;
    display: -ms-flexbox;
    width: 100%;
    flex-direction: column
}

article {
    justify-content: flex-start;
    align-content: flex-start;
    flex-direction: row;
    padding: 0;
    width: 100%;
    min-height: 100%;
    /* position: relative;
    top: 85px; */
    /* padding-top: 37px; */
    /* height: 100%; */
    /* height: calc(100% - 135px); */
    /* overflow-y: auto */
    box-sizing: border-box;
}

aside {
    display: flex;
    display: -ms-flexbox;
    justify-content: flex-start;
    flex-direction: column;
    /* position: sticky;*/
    top: 0;
    left: 0;
    /* position: -ms-device-fixed;
    top: 122px; */
    margin-right: 80px;
    padding-top: 17px;
    padding-left: 20px;
    width: 260px;
    /* height: 100%; */
    min-height: 100%;
    background: #fefefe;
    border-radius: 0 10px 0 0;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .14)
}

section {
    flex-direction: column;
    width: 1160px
}

section div {
    display: flex;
    display: -ms-flexbox;
    width: 100%
}

ul,
ol,
li {
    display: flex;
    display: -ms-flexbox;
    margin: 0;
    padding: 0
}

ul,
ol {
    width: 100%
}

h1,
h2,
h3,
h4,
h5,
h6 {
    display: flex;
    display: -ms-flexbox;
    margin: 0;
    padding: 0;
    width: auto
}

i {
    display: flex;
    display: -ms-flexbox
}

em {
    display: flex;
    display: -ms-flexbox;
    font-style: normal
}

button {
    font-family: Moebius_Regular_kor, Moebius_Regular_eng, Moebius_Bold_kor, Moebius_Bold_eng, Moebius, '뫼비우스'
}

select {
    -webkit-appearance: none;
    background: url(../images/ico-droparrow.png) right 6px center no-repeat;
    z-index: 5
}

select::-ms-expand {
    display: none
}

 ::selection {
    color: inherit;
    background: #ebf1fb
}

@font-face {
    font-family: 'Moebius_Regular_kor';
    src: local(※), url('../css/font/Moebius_Regular_kor.woff') format('woff'), url('../css/font/Moebius_Regular_kor.woff2') format('woff2');
    src: url('../css/font/Moebius_Regular_kor.ttf') format('truetype'), url('../css/font/Moebius_Regular_kor.otf') format('opentype');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'Moebius_Regular_eng';
    src: local(※), url('../css/font/Moebius_Regular_eng.woff') format('woff'), url('../css/font/Moebius_Regular_eng.woff2') format('woff2');
    src: url('../css/font/Moebius_Regular_eng.ttf') format('truetype'), url('../css/font/Moebius_Regular_eng.otf') format('opentype');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'Moebius_Bold_kor';
    src: local(※), url('../css/font/Moebius_Bold_kor.woff') format('woff'), url('../css/font/Moebius_Bold_kor.woff2') format('woff2');
    src: url('../css/font/Moebius_Bold_kor.ttf') format('truetype'), url('../css/font/Moebius_Bold_kor.otf') format('opentype');
    font-weight: bold;
    font-style: normal
}

@font-face {
    font-family: 'Moebius_Bold_eng';
    src: local(※), url('../css/font/Moebius_Bold_eng.woff') format('woff'), url('../css/font/Moebius_Bold_eng.woff2') format('woff2');
    src: url('../css/font/Moebius_Bold_eng.ttf') format('truetype'), url('../css/font/Moebius_Bold_eng.otf') format('opentype');
    font-weight: bold;
    font-style: normal
}


/* NAVIGATION */

header .gnb {
    display: flex;
    display: -ms-flexbox;
    justify-content: space-between;
    align-items: center;
    padding-left: 90px;
    padding-right: 90px;
    width: 100%;
    height: 85px;
    box-sizing: border-box;
    z-index: 12
}

header .gnb div {
    display: flex;
    display: -ms-flexbox;
    width: 100%
}

header .gnb>div {
    justify-content: flex-end;
    flex-direction: column;
    height: 100%;
    padding: 10px 0 0;
    box-sizing: border-box
}

header .gnb>div .util_space {
    position: relative;
    top: 2px;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 20px;
    width: 100%;
    height: 20px;
    line-height: 1;
    font-style: normal
}

header .gnb>div .util_space>em {
    flex-direction: row;
    align-items: center;
    padding-right: 19px;
    color: #F5F5EB;
    font-size: 12px;
    font-family: Moebius_Regular_kor, Moebius_Regular_eng, Moebius, '뫼비우스'
}

header .gnb>div .util_space>em .ico-user {
    margin-right: 3px;
    width: 14px;
    height: 16px;
    background: url(../images/ico-user.png) center center no-repeat;
    background-size: 100%
}

header .gnb>div .util_space .log {
    display: inline-flex;
    display: -ms-inline-flexbox;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 1px;
    width: auto;
    height: 24px;
    border: 1px solid #888;
    border-radius: 2px;
    color: #787878;
    font-size: 11px;
    font-family: Moebius_Bold_kor, Moebius_Bold_eng, Moebius, '뫼비우스';
    line-height: 1;
    background: #f7f3f2;
    cursor: pointer;
}

header .gnb>div .util_space .log .ico-logout {
    margin-left: 5px;
    width: 14px;
    height: 14px;
    background: url(../images/ico-unlock.png) center center no-repeat;
    background-size: 100%;
}

h1>.bi {
    width: 60px;
    height: 48px;
    cursor: pointer
}

nav .menu {
    flex-direction: row;
    justify-content: center;
    height: 42px;
    align-items: center
}

nav .menu li {
    position: relative;
    align-items: center;
    padding: 8px 51px 9px;
    height: 100%;
    font-size: 18px;
    font-family: Moebius_Regular_kor, Moebius_Regular_eng, Moebius, '뫼비우스';
    color: #F5F5EB;
    letter-spacing: .4px;
    box-sizing: border-box;
    cursor: pointer
}

nav .menu>li span {
    height: 100%
}

nav .menu>li.on span:after,
nav .menu>li:hover span:after {
    content: '';
    display: flex;
    display: -ms-flexbox;
    position: relative;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 3px;
    background: #A55463
}

nav .menu li:last-child {
    margin-right: 41px
}

nav .menu li .sub_menu {
    display: none;
    position: absolute;
    left: 0;
    top: 43px;
    flex-direction: column;
    padding: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14);
    z-index: 10
}

header>div.on nav .menu li.on .sub_menu,
header>div:hover nav .menu li:hover .sub_menu {
    display: flex;
    /* transform: translate(3s, 4s); */
    transition: transform (6s)
}

nav .menu li .sub_menu li {
    justify-content: flex-start;
    margin: 0;
    padding: 8px 4px 15px 34px;
    /*    padding-bottom: 15px;*/
    height: 13px;
    font-size: 12px;
    font-family: Moebius_Bold_kor, Moebius_Bold_eng, Moebius, '뫼비우스';
    color: #a2a2a2;
    line-height: 1
}

nav .menu li .sub_menu li:first-child {
    padding-top: 15px
}

nav .menu li .sub_menu li:last-child {
    padding-bottom: 23px
}

nav .menu li .sub_menu li.ov,
nav .menu li .sub_menu li:hover {
    font-size: 12px;
    font-family: Moebius_Bold_kor, Moebius_Bold_eng, Moebius, '뫼비우스';
    color: #626262
}


/* MOVE FORM */

.contents .move_form {
    display: flex;
    display: -ms-flexbox;
    flex-direction: column;
    justify-content: flex-end;
    /* align-self: center; */
    margin: 0 56px 0 57px;
    padding: 14px 17px 14px 16px;
    width: 270px;
    height: 100%;
    border-radius: 6px;
    box-sizing: border-box;
    position: relative;
    transition: 0.7s
}

.contents .move_form .form_area {
    flex-direction: column;
    margin-bottom: 0
}

.contents .move_form .form_area h5.s_tit {
    padding-bottom: 4px;
    margin-bottom: 23px;
    font-size: 14px;
    border-bottom: 1px solid #666
}

.contents .move_form .form_area h5.s_tit:before {
    content: none
}

.contents .right_space {
    display: flex;
    display: -ms-flexbox;
    /* flex-wrap: wrap; */
    justify-content: flex-start;
    flex-direction: column;
    /* position: relative;
    left: 0px; */
    width: 1160px;
    height: 100%;
    min-height: 100%;
    /* height: calc(100% - 135px); */
}

.contents .title {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: 19px;
    margin-bottom: 31px;
    padding-bottom: 24px
}

.contents .title.style-1 {
    margin-bottom: 7px;
    padding-bottom: 12px;
    flex-direction: column;
    align-items: center;
    font-family: Moebius_Regular_kor, Moebius_Regular_eng, Moebius, '뫼비우스'
}

.contents .title.style-1 h2 {
    margin-bottom: 45px;
    width: 100%;
    align-items: center;
    justify-content: space-between
}

.contents .title.style-2 {
    margin-bottom: 17px;
    font-family: Moebius_Regular_kor, Moebius_Regular_eng, Moebius, '뫼비우스'
}

.contents .title>h2 {
    font-size: 17px;
    color: #1a1a1a;
    font-family: Moebius_Regular_kor, Moebius_Regular_eng, Moebius, '뫼비우스';
    line-height: 1
}

.contents .title>h2 .ico-bar {
    margin-right: 4px;
    width: 3px;
    height: 15px;
    background: #A55463
}

.contents .title .breadcrumb {
    width: auto;
    font-size: 13px;
    color: #999;
    font-family: Moebius_Regular_kor, Moebius_Regular_eng, Moebius, '뫼비우스';
    letter-spacing: .2px
}

.contents .title .breadcrumb span {
    padding-right: 10px;
    background: url(../images/ico-less.png) right top 2px no-repeat
}

.contents .title .breadcrumb em.on {
    padding-left: 7px;
    color: #333
}


/* LNB */

aside>h3 {
    position: relative;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 19px;
    width: 260px;
    font-size: 17px;
    color: #bebebe;
    font-family: Moebius_Bold_kor, Moebius_Bold_eng;
    text-transform: uppercase
}

aside>h3:before {
    content: '';
    display: inline-flex;
    margin-right: 8px;
    background: #82BEA3;
    width: 6px;
    height: 6px;
    border-radius: 50%
}

aside .lnb {
    flex-direction: column
}

aside .lnb li {
    position: relative;
    flex-wrap: wrap;
    margin: 0;
    margin-left: 14px;
    margin-bottom: 11px;
    padding: 0px 0 2px 7px;
    font-size: 15px;
    color: #999;
    font-family: Moebius_Bold_kor, Moebius_Bold_eng;
    box-sizing: border-box
}

aside .lnb li.on,
aside .lnb li:hover {
    color: #A55463
}


/*aside .lnb li.on:after, aside .lnb li:hover:after {content:''; display:inline-flex; position:absolute; left:0; bottom:0; width:100%; height:1px; background:#5275e8}*/


/* LOGIN */

.contents.index {
    display: flex;
    display: -ms-flexbox;
    justify-content: center;
    -ms-flex-pack: center;
    align-items: center;
    -ms-flex-align: center;
    position: relative;
    padding: 0;
    height: 100%;
    min-height: 100%
}

.contents.index .login_contn {
    display: flex;
    display: -ms-flexbox;
    position: relative;
    padding: 27px 63px 51px;
    justify-content: center;
    flex-direction: column;
    width: auto;
    height: auto;
    min-height: 0;
    border-radius: 3px;
    background: #fff;
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, .18);
    z-index: 9
}

.contents.index .login_contn.layer_popup {
    /* position: relative; */
    align-self: center;
    position: absolute;
    top: 23%;
    left: 34.2%;
    min-height: 0;
    z-index: 11
}


/* .contents.index .login_contn+.contents.index .login_contn.layer_popup {
    position: absolute;
    right:0
} */

.contents.index .title {
    align-items: flex-start
}

.contents.index .title h2 {
    font-size: 17px
}

.contents.index .login {
    align-items: center;
    width: 480px
}

.contents.index .login_contn>section {
    width: 480px
}

.contents.index .login.form_area {
    padding: 26px 17px 51px;
    margin-bottom: 43px
}

.contents.index .login.form_area .column input[type=text],
.contents.index .login.form_area .column input[type=number],
.contents.index .login.form_area .row_contain .column input[type=password] {
    height: 40px;
    font-size: 13px
}

.contents.index .login.form_area .column.on input[type=text],
.contents.index .login.form_area .column:hover input[type=text],
.contents.index .login.form_area .column.on input[type=number],
.contents.index .login.form_area .column:hover input[type=number],
.contents.index .login.form_area .row_contain .column.on input[type=password],
.contents.index .login.form_area .row_contain .column:hover input[type=password] {
    font-size: 14px
}

.contents.index .login.form_area .column .column_label {
    font-size: 13px
}

.contents.index .login_contn .btm_button_area.log {
    margin-bottom: 60px
}

.contents.index .login_contn .btm_button_area {
    justify-content: center;
    margin-bottom: 0
}

.contents.index .login_contn .btm_button_area .default_button:first-child {
    margin-left: 0
}

.contents.index .login_contn .btm_button_area .default_button.sign {
    border-color: #46576b;
    background: #f9f9f9
}

.contents.index .login_contn .help {
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    color: #777;
    cursor: pointer
}

.contents.index .login_contn .help .notice:after {
    content: '';
    margin-top: 3px;
    margin-left: 7px;
    margin-right: 8px;
    width: 1px;
    height: 8px;
    background: #ccc;
}

.contents.index .login_contn .help .notice:last-child:after {
    content: none
}

.contents.index .login_contn .help .notice .ico-help {
    margin-left: 3px;
    width: 14px;
    height: 14px;
    background: url(../images/ico-help.png) center center no-repeat;
    background-size: 100%
}

.contents.index .login_contn .help .notice .ico-reset {
    position: relative;
    top: -1px;
    margin-left: 2px;
    width: 14px;
    height: 14px;
    background: url(../images/ico-reset.png) center center no-repeat;
    background-size: 100%
}


/* HOME */

.contents .home {
    display: flex;
    display: -ms-flexbox;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%
}

.contents .home>img {
    margin-bottom: 26px
}


/* PROGRESS */

.contents .right_space .progress {
    margin-bottom: 34px
}

.contents .right_space .progress ul li {
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 15px 0px 14px;
    width: 33.3333%;
    font-size: 15px;
    color: #555;
    /*    box-shadow:0px 1px 3px 0px rgba(0,0,0,.14);*/
    border: 1px solid #ddd;
    border-radius: 3px;
    background: #fbfbfb;
    box-sizing: border-box
}

.contents .right_space .progress ul li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    width: 0;
    height: 0;
    border-left: 24px solid #888;
    border-right: 24px solid transparent;
    border-top: 24px solid transparent;
    border-bottom: 24px solid transparent;
    z-index: 3
}

.contents .right_space .progress ul li:last-child:before {
    content: none
}

.contents .right_space .progress.duo ul li {
    width: 50%
}

.contents .right_space .progress ul li.on,
.contents .right_space .progress ul li:hover {
    color: #fff;
    border-color: #bd6776;
    background: #c46979;
}

.contents .right_space .progress ul li:after {
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    width: 0;
    height: 0;
    border-left: 24px solid #fbfbfb;
    border-top: 24px solid transparent;
    border-bottom: 24px solid transparent;
    z-index: 3
}

.contents .right_space .progress ul li.on:after,
.contents .right_space .progress ul li:hover:after {
    border-left-color: #c46979
}

.contents .right_space .progress ul li:last-child:after {
    content: none
}


/* TABS */

.contents .right_space .big_tabs {
    margin-bottom: 49px
}

.contents .right_space .big_tabs ul li {
    justify-content: center;
    align-items: center;
    padding: 12px 0px 11px;
    min-width: 171px;
    font-size: 15px;
    color: #999;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, .14);
    /*    border-top:1px solid #ddd;*/
    border-radius: 0;
    background: #fbfbfb;
    box-sizing: border-box
}

.contents .right_space .big_tabs ul li.on,
.contents .right_space .big_tabs ul li:hover {
    color: #fff;
    font-size: 16px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .13);
    border-radius: 5px 5px 0 0;
    background: #e1a397;
    border-top: 1px solid #bd6776;
    /*    border-right:1px solid #bd6776;*/
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, .16);
    cursor: pointer
}

.contents .right_space .big_tabs ul li.on:first-child {
    border-radius: 0 5px 0 0
}


/*
.contents .right_space .big_tabs_contents, .contents .right_space .big_tabs_contents .tab_contn {
display:flex;
display:-ms-flexbox;
flex-direction: column
}
*/

.contents .right_space .small_tabs {
    flex-direction: row;
    margin-left: 0px;
    margin-bottom: 34px
}

.contents .right_space .small_tabs ul li {
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 19px;
    margin-right: 20px;
    font-size: 14px;
    color: #777
}

.contents .right_space .small_tabs ul li.ov,
.contents .right_space .small_tabs ul li:hover {
    color: #2D3847;
    /*    border-bottom:1px solid #2D3847;*/
    cursor: pointer
}

.contents .right_space .small_tabs ul li.ov:after,
.contents .right_space .small_tabs ul li:hover:after {
    content: '';
    width: 100%;
    height: 1px;
    background: #2D3847
}

.contents .right_space .small_tabs ul li:before {
    content: '';
    display: flex;
    position: relative;
    top: 3px;
    right: 20px;
    width: 1px;
    height: 10px;
    background: #ccc;
}

.contents .right_space .small_tabs ul li:first-child:before {
    content: none
}


/* SUB TITLE INFO */

.contents .sub_info {
    margin-bottom: 39px;
    padding: 13px;
    width: 100%;
    min-height: 150px;
    width: 100%;
    border-radius: 4px;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, .14);
    box-sizing: border-box
}

.contents .sub_info .sub_tit {
    padding-bottom: 14px;
    color: #666;
    font-size: 14px;
    font-family: Moebius_Regular_kor, Moebius_Regular_eng, Moebius, '뫼비우스'
}

.contents .sub_info .sub_list {
    flex-direction: column
}

.contents .sub_info .sub_list li {
    padding-left: 17px;
    line-height: 28px;
    color: #888;
    font-size: 14px;
    font-family: Moebius_Regular_kor, Moebius_Regular_eng, Moebius, '뫼비우스'
}

.contents .sub_info .sub_list li:before {
    content: '';
    position: relative;
    margin-right: 6px;
    left: 0px;
    top: 12px;
    width: 3px;
    height: 3px;
    background: #777;
    border-radius: 50%
}


/* INFO TITLE */

.contents .info_title {
    position: relative;
    padding: 6px 34px 7px 10px;
    width: auto;
    max-width: 42.5%;
    height: auto;
    border: 1px solid #D89E92;
    border-radius: 4px 4px 0 0;
    background: #e6afa4;
    box-sizing: border-box
}

.contents .info_title.small {
    max-width: 16.5%
}

.contents .info_title>em.sub_tit {
    font-size: 15px;
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .2);
    font-family: Moebius_Regular_kor, Moebius_Regular_eng, Moebius, '뫼비우스';
    letter-spacing: -.2px;
    white-space: pre-wrap;
    font-style: normal
}

.contents .info_title .ico-remove {
    position: absolute;
    right: -32px;
    bottom: 3px;
    margin-right: 3px;
    width: 26px;
    height: 26px;
    background: url(../images/ico-remove.png) center center no-repeat;
    background-size: 100%
}


/* ADD INFO TEXT */

.add_info {
    flex-direction: row;
    margin-bottom: 15px;
    padding: 0 9px;
    width: 100%;
    box-sizing: border-box
}

.add_info input[type=text].add_text {
    margin-right: 4px;
    padding: 7px 4px 7px 6px;
    width: 100%;
    height: 30px;
    font-size: 13px;
    color: #bfbfbf;
    font-family: Moebius_Regular_kor, Moebius_Regular_eng, Moebius, '뫼비우스';
    letter-spacing: -.4px;
    border: 1px solid #cdcdcd;
    border-radius: 15px;
    background: #fff;
    box-sizing: border-box
}

.add_info input[type=text].add_text.on,
.add_info input[type=text].add_text:hover {
    color: #777;
    font-family: Moebius_Regular_kor, Moebius_Regular_eng, Moebius, '뫼비우스';
    border-color: #ababab
}


/* BORDER GROUP */

.contents .border_group {
    flex-direction: column;
    margin-bottom: 54px;
    padding: 13px 17px 30px;
    width: 100%;
    /* min-height: 50px; */
    box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, .14);
    border-radius: 6px;
    box-sizing: border-box
}

.contents .border_group.border-none {
    margin-bottom: 0;
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 0;
    box-shadow: none
}


/* FORM */

.contents .form_area {
    margin-bottom: 54px;
    padding: 13px 17px 30px;
    width: 100%;
    _border: 1px solid #dfdfdf;
    border-radius: 6px;
    background: #fff;
    _box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, .14);
    box-sizing: border-box
}

.contents .form_area.several_table .table_grid {
    margin-bottom: 34px
}

.contents .form_area.several_table .table_grid:last-child {
    margin-bottom: 0
}

.contents .form_area.style-1 .row_contain {
    margin: 0 10px 84px 10px;
    padding: 0;
    padding-top: 21px;
    width: auto;
    border-color: #dcdcdc;
    border-style: dashed none none;
    border-width: 2px 0 0;
    border-radius: 0;
    background: #fff;
    box-shadow: none
}

.contents .form_area h5.s_tit,
.contents .grid_form h5.s_tit,
.contents .table_grid h5.s_tit,
.contents .border_group h5.s_tit,
.contents .border_group .table_head h5.s_tit {
    flex-direction: row;
    justify-items: flex-start;
    align-items: center;
    position: relative;
    margin-top: 13px;
    padding: 0;
    padding-bottom: 26px;
    width: 100%;
    height: auto;
    font-size: 15px;
    color: #46576b;
    font-family: Moebius_Regular_kor, Moebius_Regular_eng, Moebius, '뫼비우스'
}

.contents .form_area h5.s_tit.type-2,
.contents .grid_form h5.s_tit.type-2,
.contents .table_grid h5.s_tit.type-2,
.contents .border_group h5.s_tit.type-2,
.contents .border_group .table_head h5.s_tit.type-2 {
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 8px;
    padding-bottom: 28px
}


/* .contents .form_area .table_grid+h5.s_tit.type-2 {
    margin-top: 63px
} */

.contents .border_group h5.s_tit.type-2 .select_group select {
    width: 180px
}

.contents .border_group h5.s_tit.type-2 .select_group {
    width: auto
}

.contents .form_area h5.s_tit .right_button_area,
.contents .grid_form h5.s_tit .right_button_area,
.contents .table_grid h5.s_tit .right_button_area,
.contents .border_group h5.s_tit .right_button_area {
    width: auto;
    padding-bottom: 0
}

.contents .grid_form h5.s_tit {
    margin-left: 2px
}

.contents .form_area h5.s_tit i.ico-bar-2 {
    width: 12px;
    height: 3px;
    background: #f07568
}

.contents .form_area h5.s_tit:before,
.contents .grid_form h5.s_tit:before,
.contents .table_grid h5.s_tit:before,
.contents .border_group h5.s_tit:before {
    content: '';
    position: absolute;
    top: -5px;
    left: 0;
    width: 12px;
    height: 2px;
    background: #f07568
}

.contents .form_area h5.s_tit.type-2:before,
.contents .grid_form h5.s_tit.type-2:before,
.contents .table_grid h5.s_tit.type-2:before,
.contents .border_group h5.s_tit.type-2:before {
    top: 3px
}

.contents .form_area .row_contain {
    width: 100%;
    margin-bottom: 36px;
    box-sizing: border-box
}

.contents .form_area .row_contain.except {
    margin-bottom: 36px
}

.contents .form_area .row_contain.except-2 {
    margin-bottom: 24px
}

.contents .form_area .row_contain.odd .column:nth-last-of-type(2) {
    padding-right: 0
}

.contents .form_area .row_contain.odd .column:last-child {
    padding-left: 23px
}

.contents .form_area .row_contain:last-child {
    margin-bottom: 0
}

.contents .form_area .row_contain.type-1 {
    width: calc(100% - 6.6666%)
}

.contents .form_area .row_contain.type-2 {
    width: 100%;
    padding: 0
}

.contents .form_area .row_contain.type-3 {
    width: calc(100% - .9666%);
    padding: 0
}

.contents .form_area .row_contain.type-1 .column.w-1,
.contents .form_area .row_contain.type-2 .column.w-1,
.contents .form_area .row_contain.type-3 .column.w-1 {
    width: 25%
}

.contents .form_area .row_contain.type-1 .column.w-2,
.contents .form_area .row_contain.type-2 .column.w-2,
.contents .form_area .row_contain.type-3 .column.w-2 {
    width: 50%
}

.contents .form_area .row_contain.type-1 .column.w-3,
.contents .form_area .row_contain.type-2 .column.w-3,
.contents .form_area .row_contain.type-3 .column.w-3 {
    width: 75%
}

.contents .form_area .row_contain.type-1 .column.w-4,
.contents .form_area .row_contain.type-2 .column.w-4,
.contents .form_area .row_contain.type-3 .column.w-4 {
    width: 100%
}

.contents .form_area .row_contain .column.w-1 {
    width: 16.6666%
}

.contents .form_area .row_contain .column.w-2 {
    width: 33.3333%
}

.contents .form_area .row_contain .column.w-3 {
    width: 50%
}

.contents .form_area .row_contain .column.w-4 {
    width: 66.6666%
}

.contents .form_area .row_contain .column.w-5 {
    width: 83.3333%
}

.contents .form_area .row_contain .column.w-6 {
    width: 100%
}

.contents .form_area .row_contain .column {
    display: flex;
    display: -ms-flexbox;
    flex-direction: column;
    margin: 0;
    padding-right: 23px;
    box-sizing: border-box
}

.contents .form_area .row_contain .column:last-child {
    padding-right: 0
}


/*RADIO BUTTON*/

.contents .form_area .row_contain .column .radio_group {
    flex-direction: row;
    align-items: center;
    position: relative
}

.contents .form_area .row_contain .column .radio_group .default_radio,
.default_radio {
    display: flex;
    display: -ms-flexbox;
    align-items: center;
    position: relative;
    margin-left: 104px;
    padding-left: 24px;
    font-size: 14px;
    color: #555
}

.default_radio {
    margin: 0;
    padding: 0
}

.contents .form_area .row_contain .column .radio_group .default_radio:first-child {
    margin-left: 14px
}

.contents .form_area .row_contain .column .radio_group .default_radio input[type=radio],
.default_radio input[type=radio],
input[type=radio] {
    display: flex;
    display: -ms-flexbox;
    margin: 0;
    padding: 0;
}

.contents .form_area .row_contain .column .radio_group .default_radio input[type=radio]:not(old),
.default_radio input[type=radio]:not(old) {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 13px;
    height: 13px
}

.default_radio input[type=radio]:not(old) {
    width: 11px;
    height: 11px
}

.contents .form_area .row_contain .column .radio_group .default_radio input[type=radio]+label,
.default_radio input[type=radio]+label {
    display: flex;
    display: -ms-flexbox;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 14px;
    height: 14px;
    border: 1px solid #d9eae0;
    border-radius: 50%;
    background: #f9f9f9;
    z-index: 22
}

.default_radio input[type=radio]+label {
    width: 12px;
    height: 12px
}

.contents .form_area .row_contain .column .radio_group .default_radio input[type=radio]:checked+label,
.default_radio input[type=radio]:checked+label,
.contents .form_area .row_contain .column .radio_group .default_radio.on input[type=radio]+label,
.default_radio.on input[type=radio]+label {
    border-width: 2px;
    border-color: #82BEA3;
    background: #fff
}

.default_radio input[type=radio]:checked+label,
.default_radio.on input[type=radio]+label {
    border-width: 1px
}

.contents .form_area .row_contain .column .radio_group .default_radio input[type=radio]+label.border-brickpink,
input[type=radio]+label.border-brickpink {
    border-color: rgba(196, 105, 121, .24) !important;
}

.contents .form_area .row_contain .column .radio_group .default_radio input[type=radio]:checked+label.border-brickpink,
.default_radio input[type=radio]:checked+label.border-brickpink,
.contents .form_area .row_contain .column .radio_group .default_radio.on input[type=radio]+label.border-brickpink,
.default_radio.on input[type=radio]+label.border-brickpink {
    border-color: #c46979 !important;
}

.contents .form_area .row_contain .column .radio_group .default_radio input[type=radio]:checked+label.border-brickpink span,
.default_radio input[type=radio]:checked+label.border-brickpink span,
.contents .form_area .row_contain .column .radio_group .default_radio.on input[type=radio]+label.border-brickpink span,
.default_radio.on input[type=radio]+label.border-brickpink span {
    background: #c46979 !important;
}

.contents .form_area .row_contain .column .radio_group .default_radio input[type=radio]+label span,
.default_radio input[type=radio]+label span {
    display: flex;
    display: -ms-flexbox;
    justify-content: center;
    width: 8px;
    height: 8px;
    background: #ccc;
    border-radius: 50%
}

.default_radio input[type=radio]+label span {
    width: 8px;
    height: 8px
}

.contents .form_area .row_contain .column .radio_group .default_radio input[type=radio]:checked+label span,
.default_radio input[type=radio]:checked+label span,
.contents .form_area .row_contain .column .radio_group .default_radio.on input[type=radio]+label span,
.default_radio.on input[type=radio]+label span {
    background: #82BEA3
}

.contents .form_area .row_contain .column .column_label,
.select_group>.column_label {
    padding: 0;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 5px;
    font-size: 14px;
    color: #869DAB;
    font-family: Moebius_Regular_kor, Moebius_Regular_eng, Moebius, '뫼비우스'
}

.select_group>.column_label {
    align-self: center
}

.contents .form_area .row_contain .column input[type=text],
input[type=text],
.contents .form_area .row_contain .column input[type=number],
input[type=number],
.contents .form_area .row_contain .column input[type=radio],
input[type=radio],
.contents .form_area .row_contain .column input[type=password],
input[type=password],
.contents .form_area .row_contain .column select,
select,
.contents .form_area .row_contain .column textarea {
    display: flex;
    display: -ms-flexbox;
    padding: 5px 0 6px 17px;
    height: 30px;
    width: 100%;
    font-size: 14px;
    color: #888;
    font-family: Moebius_Regular_kor, Moebius_Regular_eng, Moebius, '뫼비우스';
    letter-spacing: .2px;
    border: 1px solid #d9eae0;
    border-radius: 3px;
    background: #f9f9f9;
    box-sizing: border-box;
    outline-color: #f9f9f9
}

.contents .form_area .row_contain .column select,
select {
    padding: 4px 0 5px 17px;
    background: #f9f9f9 url(../images/ico-droparrow.png) right 6px center no-repeat
}

.contents .form_area .row_contain .column textarea {
    padding: 7px 9px 8px 17px;
    font-family: Moebius_Regular_kor, Moebius_Regular_eng, Moebius, '뫼비우스';
    font-size: 14px;
    color: #888;
    letter-spacing: -.2px;
    line-height: 22px;
    min-height: 120px;
    background: #fbfbfb
}

.contents .form_area .row_contain .column.on input[type=text],
.contents .form_area .row_contain .column.on input[type=number],
.contents .form_area .row_contain .column.on input[type=password],
.contents .form_area .row_contain .column.on select,
.contents .form_area .row_contain .column.on textarea,
.contents .form_area .row_contain .column:hover input[type=text],
.contents .form_area .row_contain .column:hover input[type=number],
.contents .form_area .row_contain .column:hover input[type=password],
.contents .form_area .row_contain .column:hover select,
.contents .form_area .row_contain .column:hover textarea {
    color: #555;
    font-size: 15px;
    font-family: Moebius_Regular_kor, Moebius_Regular_eng, Moebius, '뫼비우스';
    text-transform: capitalize;
    line-height: 23px;
    border-color: #82BEA3;
    border-style: none none solid;
    border-width: 0 0 2px;
    border-radius: 0px;
    background: #fff
}

.contents .form_area .row_contain .column.on textarea,
.contents .form_area .row_contain .column:hover textarea {
    min-height: 120px
}

.contents .form_area .row_contain .column .search_group,
.contents .form_area .row_contain .column .calander_group,
.contents .form_area .row_contain .column .select_group,
.search_group,
.calander_group,
.select_group {
    position: relative
}

.contents .form_area .row_contain .column .search_group .search,
.search_group .search,
.contents .form_area .row_contain .column .calander_group .calander,
.calander_group .calander,
.contents .form_area .row_contain .column .select_group .select,
.border_group h5.s_tit.type-2 .select_group .select,
.select_group .select {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    display: -ms-flexbox;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 30px;
    border-left: 1px solid #e2e2e2;
    cursor: pointer;
    z-index: 5
}


/*
.contents .form_area .row_contain .column .select_group .select,
.select_group .select {
width: 24px
}
*/

.contents .form_area .row_contain .column .search_group .search .ico-search,
.search_group .search .ico-search {
    width: 14px;
    height: 14px;
    background: url(../images/ico-search.png) center center no-repeat;
    background-size: 100%
}

.contents .form_area .row_contain .column.cal-style {
    position: relative
}

.contents .form_area .row_contain .column .calander_group.first_cal:after {
    content: '';
    display: flex;
    position: absolute;
    right: -15px;
    bottom: 15px;
    width: 6px;
    height: 1px;
    background: #999
}

.contents .form_area .row_contain .column .calander_group .calander .ico-cal,
.calander_group .calander .ico-cal {
    width: 14px;
    height: 14px;
    background: url(../images/ico-cal.png) center center no-repeat;
    background-size: 100%
}

.contents .form_area .row_contain .column.on .search_group .search,
.contents .form_area .row_contain .column.on .calander_group .calander,
.contents .form_area .row_contain .column.on .select_group .select,
.contents .form_area .row_contain .column:hover .search_group .search,
.contents .form_area .row_contain .column:hover .calander_group .calander,
.contents .form_area .row_contain .column:hover .select_group .select {
    border-color: #9f9f9f;
    border-left: none
}

.contents .form_area .row_contain .column.on .search_group .search .ico-search,
.contents .form_area .row_contain .column:hover .search_group .search .ico-search {
    background: url(../images/ico-search-on.png) center center no-repeat;
    background-size: 100%
}

.contents .form_area .row_contain .column.on .calander_group .calander .ico-cal,
.contents .form_area .row_contain .column:hover .calander_group .calander .ico-cal {
    background: url(../images/ico-cal-on.png) center center no-repeat;
    background-size: 100%
}

.contents .form_area .row_contain .column .select_group.disabled .select,
.contents .form_area .row_contain .column:hover .select_group.disabled .select {
    border-color: #aaa
}

.contents .form_area .row_contain .column.on .select_group select,
.contents .form_area .row_contain .column:hover .select_group select {
    background: url(../images/ico-droparrow-on.png) right 6px center no-repeat
}

.contents .form_area .row_contain .column .select_group.disabled select,
.contents .form_area .row_contain .column:hover .select_group.disabled select {
    color: #898989;
    border-color: #d9d9d9;
    border-style: solid;
    background: #dfdfdf url(../images/ico-droparrow-dis.png) right 6px center no-repeat
}

.contents .form_area .row_contain .column .calander_group.disabled input[type=text],
.contents .form_area .row_contain .column:hover .calander_group.disabled input[type=text]:disabled {
    color: #898989;
    border-color: #d9d9d9;
    border-style: solid;
    background: #dfdfdf
}

.contents .form_area .row_contain .column:hover .calander_group.disabled input[type=text]:disabled {
    border-style: none none solid;
    background: #fff
}

.contents .form_area .row_contain .column:hover .calander_group.disabled .calander {
    cursor: default
}

.contents .form_area .row_contain .column .calander_group.disabled .calander .ico-cal,
.contents .form_area .row_contain .column:hover .calander_group.disabled .calander .ico-cal {
    background: url(../images/ico-cal-dis.png) center center no-repeat
}

.contents .form_area .row_contain .column:hover .select_group.disabled select {
    border-style: none none solid;
    background: #fff url(../images/ico-droparrow-dis.png) right 6px center no-repeat
}


/* GRID FORM */

.contents .grid_form {
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 54px;
    padding: 13px 10px 26px 15px;
    width: 100%;
    box-sizing: border-box
}

.contents .grid_form .division_row {
    flex-direction: row;
    padding: 23px 0px 13px 0px;
    width: 100%;
    border-top: 1px solid #ccc;
    _border-bottom: 1px solid #cbcbcb;
    box-sizing: border-box
}

.contents .grid_form .division_row>div:first-child {
    border-right: 2px dotted #dcdcdc
}

.contents .grid_form .division_row>div {
    position: relative;
    display: grid;
    display: -ms-grid;
    width: 100%;
    grid-template-columns: 89px 89px 378px;
    -ms-grid-colsumns: 89px 89px 378px;
    grid-template-rows: 53px 53px 53px 53px 53px 30px;
    -ms-grid-rows: 53px 53px 53px 53px 53px 30px;
    grid-template-areas: "요청송신Q qsign 2documents2Documents2documents2documents2document";
    /* grid-row-gap: 23px; */
    /* grid-column-gap: 10px; */
    padding: 0 10px 0 0
}


/*.contents .grid_form > div .item-a {grid-area:1 / col1-start / last-line / 6;}*/

.contents .grid_form .column_label,
.contents .grid_form .search_group {
    justify-content: stretch
}

.contents .grid_form .column_label {
    margin-bottom: 23px
}

.contents .grid_form input[type=text] {
    margin-left: 10px;
    margin-bottom: 23px;
    padding: 5px 0 6px 5px;
    height: 30px;
    width: 368px;
    font-size: 14px;
    color: #888;
    font-family: Moebius_Regular_kor, Moebius_Regular_eng, Moebius, '뫼비우스';
    text-transform: lowercase;
    letter-spacing: -.2px;
    border: 1px solid #d9eae0;
    border-radius: 5px;
    box-sizing: border-box
}

.contents .grid_form .search_group {
    position: relative;
}

.contents .grid_form .search_group input[type=text] {
    width: 79px
}

.contents .grid_form .search_group.on input[type=text],
.contents .grid_form input[type=text].on,
.contents .grid_form .search_group:hover input[type=text],
.contents .grid_form input[type=text]:hover {
    color: #555;
    font-size: 15px;
    font-family: Moebius_Regular_kor, Moebius_Regular_eng, Moebius, '뫼비우스';
    letter-spacing: -.4px;
    border-color: #82BEA3;
    border-style: none none solid;
    border-width: 2px;
    border-radius: 0;
    background: #fff
}

.contents .grid_form .search_group .search {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    display: -ms-flexbox;
    justify-content: center;
    align-items: center;
    width: 23px;
    height: 30px;
    border-left: 1px solid #e2e2e2;
    cursor: pointer
}

.contents .grid_form .search_group.on .search,
.contents .grid_form .search_group:hover .search {
    border-color: #9f9f9f;
    border-left: none
}

.contents .grid_form .search_group .search .ico-search {
    width: 13px;
    height: 13px;
    background: url(../images/ico-search.png) center center no-repeat;
    background-size: 100%
}

.contents .grid_form .column_label {
    display: flex;
    position: relative;
    align-items: center;
    -ms-grid-column: 1;
    grid-row-gap: 0;
    place-self: stretch;
    padding-left: 10px;
    font-size: 14px;
    color: #869DAB;
    font-family: Moebius_Regular_kor, Moebius_Regular_eng, Moebius, '뫼비우스';
    letter-spacing: -.4px;
    background: #fff;
    box-sizing: border-box;
    z-index: 5
}

.contents .grid_form .column_label:nth-of-type(2) {
    -ms-grid-row: 2
}

.contents .grid_form .column_label:nth-of-type(3) {
    -ms-grid-row: 3
}

.contents .grid_form .column_label:nth-of-type(4) {
    -ms-grid-row: 4
}

.contents .grid_form .column_label:nth-of-type(5) {
    -ms-grid-row: 5
}

.contents .grid_form .column_label:nth-of-type(6) {
    -ms-grid-row: 6;
    margin-bottom: 0
}

.contents .grid_form .search_group {
    -ms-grid-column: 2
}


/*.contents .grid_form .search_group input[type=text] {margin-left:0px}*/

.contents .grid_form .search_group:nth-of-type(2) {
    -ms-grid-row: 2
}

.contents .grid_form .search_group:nth-of-type(3) {
    -ms-grid-row: 3
}

.contents .grid_form .search_group:nth-of-type(4) {
    -ms-grid-row: 4
}

.contents .grid_form .search_group:nth-of-type(5) {
    -ms-grid-row: 5
}

.contents .grid_form .search_group:nth-of-type(6) {
    -ms-grid-row: 6;
}

.contents .grid_form .search_group:nth-of-type(6) input[type=text] {
    margin-bottom: 0
}

.contents .grid_form input[type=text] {
    -ms-grid-column: 3
}

.contents .grid_form input[type=text]:nth-of-type(2) {
    -ms-grid-row: 2
}

.contents .grid_form input[type=text]:nth-of-type(3) {
    -ms-grid-row: 3
}

.contents .grid_form input[type=text]:nth-of-type(4) {
    -ms-grid-row: 4
}

.contents .grid_form input[type=text]:nth-of-type(5) {
    -ms-grid-row: 5
}

.contents .grid_form input[type=text]:nth-of-type(6) {
    -ms-grid-row: 6;
    margin-bottom: 0
}

.contents .grid_form .search_group.on .search .ico-search,
.contents .grid_form .search_group:hover .search .ico-search {
    background: url(../images/ico-search-on.png) center center no-repeat;
    background-size: 100%
}


/* TABLE */

.table_colgroup {
    display: table-column-group;
    overflow-x: auto
}

.table_grid {
    display: table;
    _margin-bottom: 54px;
    padding: 0 0 10px 0px;
    width: 100%;
    border-radius: 0px;
    _box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, .1);
    box-sizing: border-box;
}

.table_grid+.table_grid {
    margin-top: 24px
}


/*
colgroup {
display: table-column-group
}

colgroup col {
display: table-column
}
*/

.table_grid .table_head {
    display: table-header-group;
    margin-top: 20px
}

.table_grid .table_head>ul {
    display: table-row;
    padding: 0 10px;
    width: 100%;
    box-sizing: border-box
}

.table_grid .table_head .th_cell {
    display: table-cell;
    position: relative;
    padding: 5px 10px 6px;
    width: 12.5%;
    min-width: 115px;
    height: 35px;
    border-top: 1px solid #565656;
    font-size: 14px;
    font-family: Moebius_Regular_kor, Moebius_Regular_eng, Moebius, '뫼비우스';
    color: #555;
    vertical-align: middle;
    letter-spacing: -.4px;
    background: #fff;
    border-bottom: 1px solid #dfdfdf;
    box-sizing: border-box
}

.table_grid .table_head.w-auto .th_cell {
    width: auto;
    min-width: 115px
}

.table_grid.tb_layout .table_head .th_cell:first-child {
    min-width: 125px
}

.table_grid .table_head .th_cell:last-child {
    min-width: 35px
}

.table_grid .table_head.except .th_cell:first-child {
    width: 23%;
}

.table_grid .table_head .th_cell:first-child {
    padding-left: 18px
}

.table_grid .table_head .th_cell .ico-sort-down,
.table_grid .table_head .th_cell .ico-sort-up {
    display: inline-flex;
    display: -ms-inline-flexbox;
    position: relative;
    top: 5px;
    width: 16px;
    height: 16px;
    background: url(../images/ico-sort-down.png) center center no-repeat;
    background-size: 100%
}

.table_grid .table_head .th_cell .ico-sort-up {
    width: 16px;
    height: 16px;
    background: url(../images/ico-sort-up.png) center center no-repeat;
    background-size: 100%
}

.table_grid .table_body {
    display: table-row-group
}

.table_grid .table_row {
    display: table-row
}

.table_grid.tb_layout {
    table-layout: fixed
}

.table_grid .table_body .fold_colgroup {
    display: table-row
}

.table_grid .table_body .fold_colgroup>.table_row {
    display: table-cell
}

.table_grid .table_body .fold_colgroup>.table_row.colspan {
    display: table-row !important;
    display: none;
    margin-top: -1px;
    margin-bottom: -1px
}

.table_grid .table_body .fold_colgroup>.table_row.colspan .td_cell {
    min-width: 185px;
    background: #f9f9f9
}

.table_grid.tb_layout .table_head ul .th_cell:first-child,
.table_grid.tb_layout .table_body .table_row .td_cell:first-child,
.table_grid.tb_layout .table_body .fold_colgroup>.table_row.colspan .td_cell:first-child {
    width: 125px;
    min-width: 125px
}

.contents .layer_popup .table_colgroup .table_grid .table_head ul .th_cell:first-child,
.contents .layer_popup .table_colgroup .table_grid .table_body .table_row .td_cell:first-child {
    width: 125px;
    min-width: 125px
}

.contents .layer_popup .table_colgroup .table_grid .table_head ul .th_cell:last-child,
.contents .right_space .table_colgroup .table_grid .table_head.w-auto ul .th_cell:last-child,
.contents .layer_popup .table_colgroup .table_grid .table_body .table_row .td_cell:last-child,
.contents .right_space .table_colgroup .table_grid .table_body .table_row.w-auto .td_cell:last-child {
    width: 125px;
    min-width: 125px
}

.contents .layer_popup.small .table_colgroup .table_grid .table_head ul .th_cell,
.contents .layer_popup.small .table_colgroup .table_grid .table_body .table_row .td_cell {
    width: 95px;
    min-width: 95px
}

.contents .layer_popup .table_colgroup .table_grid.radio_group .table_head ul .th_cell:first-child,
.contents .right_space .table_colgroup .table_grid.radio_group .table_head ul .th_cell:first-child,
.contents .layer_popup .table_colgroup .table_grid.radio_group .table_body .table_row .td_cell:first-child,
.contents .right_space .table_colgroup .table_grid.radio_group .table_body .table_row .td_cell:first-child {
    width: 45px;
    min-width: 45px
}

.contents .layer_popup.small .table_colgroup .table_grid .table_head ul .th_cell:last-child,
.contents .layer_popup.small .table_colgroup .table_grid .table_body .table_row .td_cell:last-child {
    width: 175px;
    min-width: 175px
}

.contents .right_space .table_colgroup .table_grid.extend .table_head ul .th_cell:last-child,
.contents .right_space .table_colgroup .table_grid.extend .table_body .table_row .td_cell:last-child {
    width: 575px;
    min-width: 575px
}

.table_grid.tb_layout .table_head ul .th_cell:nth-child(2),
.table_grid.tb_layout .table_body .table_row .td_cell:nth-child(2),
.table_grid.tb_layout .table_body .fold_colgroup>.table_row.colspan .td_cell:nth-child(2),
.table_grid.tb_layout .table_head ul .th_cell:nth-child(3),
.table_grid.tb_layout .table_body .table_row .td_cell:nth-child(3),
.table_grid.tb_layout .table_body .fold_colgroup>.table_row.colspan .td_cell:nth-child(3) {
    width: 285px;
    min-width: 285px
}

.contents .right_space .table_colgroup .table_grid.tb_layout .table_body .fold_colgroup>.table_row.colspan .td_cell:last-child,
.contents .right_space .table_colgroup .table_grid.tb_layout .table_head ul .th_cell:last-child,
.contents .right_space .table_colgroup .table_grid.tb_layout .table_body .table_row .td_cell:last-child {
    width: 60px;
    min-width: 60px
}

.table_grid .table_row .td_cell {
    display: table-cell;
    padding: 12px 10px;
    width: 12.5%;
    min-width: 115px;
    height: 40px;
    font-size: 15px;
    color: #888;
    font-family: Moebius_Regular_kor, Moebius_Regular_eng, Moebius, '뫼비우스';
    border-bottom: 1px solid #dfdfdf;
    line-height: 1;
    letter-spacing: -.2px;
    box-sizing: border-box
}

.table_grid .table_row .td_cell.colspan {
    display: none;
    margin-top: -1px;
    margin-bottom: -1px
}

.table_grid .table_row.form_type .td_cell {
    padding: 14px 10px 0;
    box-sizing: content-box
}

.table_grid .table_row.form_type .td_cell:last-child {
    padding-right: 5px
}

.table_grid .table_row.w-auto .td_cell {
    width: auto
}

.table_grid .table_row.except .td_cell:first-child {
    width: 23%
}

.table_grid .table_row .td_cell:first-child {
    padding-left: 18px
}

.table_grid .table_row .td_cell:last-child {
    min-width: 35px
}

.table_grid .table_row:last-child .td_cell {
    border-bottom-color: #bbb
}

.table_grid .table_row .td_cell label.label-default {
    padding: 2px 16px;
    border: 1px solid #c46979;
    border-radius: 3px;
    background: #fff
}

.table_grid .table_row .td_cell>a {
    padding-left: 11px;
    font-size: 14px;
    color: #333;
    text-decoration: none
}

.table_grid .table_row .td_cell>a.on,
.table_grid .table_row .td_cell>a:hover {
    text-decoration: underline
}

.table_grid .table_row .td_cell label.label-default.color-green {
    border-color: #82BEA3
}

.table_grid .table_row .td_cell input[type=text],
.table_grid .table_row .td_cell .select_group select,
.border_group h5.s_tit.type-2>.select_group select {
    height: 30px;
    font-size: 13px;
    color: #888;
    font-family: Moebius_Regular_kor, Moebius_Regular_eng, Moebius, '뫼비우스';
    letter-spacing: .2px;
    border: 1px solid #d9eae0;
    border-radius: 3px;
    background: #f9f9f9;
    box-sizing: border-box;
    outline-color: #f9f9f9
}

.table_grid .table_row .td_cell.on input[type=text],
.table_grid .table_row .td_cell:hover input[type=text],
.table_grid .table_row .td_cell.on .select_group select,
.table_grid .table_row .td_cell:hover .select_group select,
.border_group h5.s_tit.type-2>.select_group.on select,
.border_group h5.s_tit.type-2>.select_group:hover select {
    color: #555;
    font-size: 14px;
    font-family: Moebius_Regular_kor, Moebius_Regular_eng, Moebius, '뫼비우스';
    border-color: #82BEA3;
    border-style: none none solid;
    border-width: 0 0 2px;
    border-radius: 0px;
    background: #fff;
    border-left: none
}

.table_grid .table_row .td_cell.on .search_group .search,
.table_grid .table_row .td_cell:hover .search_group .search {
    border-left: none
}

.table_grid .table_row .td_cell.on .search_group .search .ico-search,
.table_grid .table_row .td_cell:hover .search_group .search .ico-search {
    background: url(../images/ico-search-on.png) center center no-repeat;
    background-size: 100%
}

.table_grid .table_row .td_cell .select_group select,
.border_group h5.s_tit.type-2>.select_group select {
    background: url(../images/ico-droparrow.png) right 6px center no-repeat
}

.table_grid .table_row .td_cell.on .select_group select,
.table_grid .table_row .td_cell:hover .select_group select,
.border_group h5.s_tit.type-2>.select_group.on select,
.border_group h5.s_tit.type-2>.select_group:hover select {
    background: url(../images/ico-droparrow-on.png) right 6px center no-repeat
}

.table_grid .table_row .td_cell.on .select_group .select,
.table_grid .table_row .td_cell:hover .select_group .select {
    border-left: none
}

.table_grid .table_row .td_cell .ico-add,
.table_grid .table_row .td_cell .ico-edit,
.table_grid .table_row .td_cell .ico-del {
    display: inline-flex;
    display: -ms-inline-flexbox;
    position: relative;
    top: 2px;
    margin-right: 17px;
    width: 16px;
    height: 16px;
    background: url(../images/ico-edit.png) center center no-repeat;
    background-size: 100%
}

.table_grid .table_row .td_cell .ico-del {
    margin: 0;
    background: url(../images/ico-del.png) center center no-repeat;
    background-size: 100%
}

.table_grid .table_row .td_cell .ico-add {
    width: 20px;
    height: 18px;
    background: url(../images/ico-add.png) center center no-repeat;
    background-size: 100%
}


/* POPUP */

.dim {
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    z-index: 10
}

.contents.popup {
    display: flex;
    display: -ms-flexbox;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 100%
}

.contents.popup .layer_popup {
    display: flex;
    display: -ms-flexbox;
    position: absolute;
    padding: 27px 63px 51px;
    justify-content: center;
    flex-direction: column;
    width: auto;
    height: auto;
    border-radius: 3px;
    background: #fff;
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, .18);
    z-index: 11
}


/* .contents.popup .layer_popup+.layer_popup {
    position: absolute
} */

.contents.popup .title {
    align-items: flex-start
}

.contents.popup .title h2 {
    font-size: 17px
}

.contents.popup .layer_popup {
    justify-content: flex-start;
    max-height: 674px;
    overflow-y: auto;
    box-sizing: border-box
}

.contents.popup .layer_popup.xsmall>section {
    width: 400px
}

.contents.popup .layer_popup.small>section {
    width: 600px
}

.contents.popup .layer_popup>section,
.contents.popup .layer_popup.medium>section {
    width: 800px
}

.contents.popup .layer_popup.large>section {
    width: 1000px
}

.contents.popup .layer_popup>.form_area {
    padding: 26px 17px 51px
}

.contents.popup .layer_popup>.form_area .row_contain.last {
    margin-bottom: 43px
}

.contents.index .login_contn.layer_popup>.form_area .row_contain .column input[type=text],
.contents.index .login_contn.layer_popup>.form_area .row_contain .column input[type=number],
.contents.index .login_contn.layer_popup>.form_area .row_contain .column input[type=password] {
    height: 40px;
    font-size: 13px
}

.contents.index .login_contn.layer_popup>.form_area .row_contain .column.on input[type=text],
.contents.index .login_contn.layer_popup>.form_area .row_contain .column:hover input[type=text],
.contents.index .login_contn.layer_popup>.form_area .row_contain .column.on input[type=number],
.contents.index .login_contn.layer_popup>.form_area .row_contain .column:hover input[type=number],
.contents.index .login_contn.layer_popup>.form_area .row_contain .column.on input[type=password],
.contents.index .login_contn.layer_popup>.form_area .row_contain .column:hover input[type=password] {
    font-size: 14px
}

.contents.index .login_contn.layer_popup>.form_area .row_contain .column .column_label {
    font-size: 13px
}

.contents.popup .layer_popup>.form_area .table_colgroup+.table_colgroup {
    margin-top: 24px
}

.contents.index .login_contn.layer_popup .btm_button_area.log {
    padding-bottom: 60px
}

.contents .layer_popup .btm_button_area {
    justify-content: center;
    padding-bottom: 0
}

.contents.index .login_contn.layer_popup .btm_button_area .default_button:first-child {
    margin-left: 0
}


/* BUTTON */

.btm_button_area,
.right_button_area {
    justify-content: flex-end;
    flex-direction: row;
    padding-bottom: 60px;
    width: 100%
}

.right_button_area {
    width: 100%;
    padding-bottom: 0;
    align-items: center
}

.default_button {
    margin-left: 9px;
    width: 135px;
    height: 40px;
    color: #404040;
    font-size: 14px;
    font-family: Moebius_Regular_kor, Moebius_Regular_eng, Moebius, '뫼비우스';
    line-height: 30px;
    letter-spacing: 1.8px;
    border: 1px solid #b6b6b6;
    border-radius: 3px;
    background: #f3f3f3;
    box-sizing: border-box;
    cursor: pointer
}

.default_button.on {
    color: #fff;
    border-color: #bd6776;
    background: #c46979
}

.default_button.btn_prev {
    background: #f3f3f3 url(../images/ico-prev.png) left 8px center no-repeat;
    border-color: #777
}

.default_button.btn_prev.disabled {
    background: #f3f3f3 url(../images/ico-prev-off.png) left 8px center no-repeat;
    border-color: #b6b6b6
}

.default_button.btn_next {
    background: #f3f3f3 url(..//images/ico-next.png) right 8px center no-repeat;
    border-color: #777
}

.default_button.btn_next.disabled {
    background: #f3f3f3 url(../images/ico-next-off.png) right 8px center no-repeat;
    border-color: #b6b6b6
}

.contents .form_area .default_button,
.contents .border_group .default_button {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    width: 120px;
    height: 35px;
    font-size: 13px
}

.contents .form_area .default_button.extend,
.contents .border_group .default_button.extend {
    padding: 0 10px;
    box-sizing: content-box
}


/* FOOTER */

footer {
    display: flex;
    display: -ms-flexbox;
    justify-content: center;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #fff;
    border-top: 1px solid #d8d8d8;
    box-sizing: border-box;
    z-index: 9
}

footer .copyright {
    display: flex;
    display: -ms-flexbox;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 20px 16px 20px;
    width: 100%;
    height: 50px;
    font-size: 11px;
    color: #999;
    font-family: Moebius_Regular_kor, Moebius_Regular_eng, Moebius, '뫼비우스';
    box-sizing: border-box
}

footer .copyright>div {
    display: flex;
    display: -ms-flexbox;
    align-items: flex-end
}

footer .copyright .copy_logo {
    padding-right: 17px;
    width: 66px;
    height: 27px
}

footer em {
    /* font: 12px bold Arial;
    font-family: Arial; */
    font-size: 12px;
    /* font-weight: normal;
    font-style: normal */
}

@media (min-width:1028px) and (max-width:1536px) {
    html,
    body {
        min-width: 1519px
    }
    aside {
        width: 220px;
        margin-right: 40px
    }
    aside>h3 {
        width: 220px
    }
    .contents .right_space {
        width: 63%
    }
    section {
        width: 100%
    }
    .contents .info_title {
        max-width: 54.5%
    }
    .table_grid .table_head .th_cell:first-child,
    .table_grid .table_row .td_cell:first-child {
        padding-left: 10px
    }
    .table_grid .table_row.form_type .td_cell:last-child {
        padding-right: 5px;
        min-width: 75px
    }
    .table_grid .table_row .td_cell .ico-add,
    .table_grid .table_row .td_cell .ico-edit {
        margin-right: 11px
    }
    .contents .grid_form .division_row>div {
        grid-template-columns: 89px 84px 278px;
        -ms-grid-columns: 89px 84px 278px
    }
    .contents .grid_form input[type=text] {
        width: 268px
    }
    .contents .grid_form .search_group input[type=text] {
        width: 74px
    }
    .contents.index .login_contn.layer_popup {
        left: 30.2%
    }
    .contents .move_form {
        margin: 0;
        margin-left: 40px;
        width: 207px;
        box-sizing: content-box
    }
}